/vendor
/node_modules
/.env
.env.backup
/storage/*.key
/public/hot
/public/storage
/bootstrap/cache/*
!bootstrap/cache/.gitkeep
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
